body{
    background-color: aquamarine;
    border: black;
    margin-left: 500px;
    margin-right: 500px;
}
#inicio{
    border: 1px solid black;
    background-color: white;
}
#bio{
    border: 1px solid black;
    background-color: white;
}
#history{
    border: 1px solid black;
    background-color: white;
}
#linkedin{
    border: 1px solid black;
    margin-left: 10px; 
    margin-bottom: 10px;
    height: 84px; 
    width: 84px
    
}
#instagram{
    margin-left: 10px; 
    margin-bottom: 10px;
    height: 84px; 
    width: 84px
    
}
#textobio{
    margin-left: 20px;
    margin-right: 20px;
}
